<nav class="navbar text-white p-3 d-flex justify-content-center navbar-lewagon">
  <span class="navbar-brand text-center">
    <%= link_to 'Scandinavian Cocktailbook', root_path, class: "navbar-link" %>
  </span>
</nav>
