<nav class="navbar navbar-light bg-light p-3 d-flex justify-content-center">
  <span class="navbar-brand text-center">
    <%= link_to 'Scandinavian Cocktailbook', root_path, class: "navbar-link" %>
  </span>
</nav>
