<%= render "navbar" %>
<div class="container p-5">
  <%= link_to "Add cocktail",  new_cocktail_path %>
  <br>
  <div class="mt-4 cocktails_container">
    <% @cocktails.each do |cocktail| %>
      <div class="card" style="width: 350px;">
        <img class="card-img-top" src="https://source.unsplash.com/350x350/?cocktail">
        <div class="card-body">
          <h5 class="card-title"><%= cocktail.name %></h5>
          <%= link_to "Preparation", cocktail_path(cocktail.id), class: "btn btn-primary" %>
        </div>
      </div>
    <% end %>
  </div>
</div>


<!--
https://source.unsplash.com/MxfcoxycH_Y/1600x900

 -->
